version: '3.8'

services:
  app:
    build: .
    container_name: gudang-sparepart-app
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./vendor:/var/www/vendor
      - ./node_modules:/var/www/resources/js/node_modules
    ports:
      - '9090:9090' # PHP-FPM
      - '5173:5173' # Vite dev server (if needed)
    env_file:
      - .env
    depends_on:

    command: |
      sh -c "php artisan migrate --force && php-fpm"
